/* Base.scss */

img {
    max-width: 100%;
    vertical-align: bottom;
}

body {
    @include body-font;
}

.headline {
    @include body-font-bold;
    line-height: 1;
    margin: 0;
}

h1, h2, h3, h4 {
    @include headline-font;
    line-height: 1;
    margin: 0;
}


a, .btn, .toggler, .untoggler {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    transition: color 300ms linear;
    &:hover {
        color: darken(#FF962D,10%);
    }
}