/* Globals.scss */
@import url(http://fonts.googleapis.com/css?family=Monoton|Open+Sans:700,400);

@mixin body-font {
    font-family: "opensans", helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin body-font-bold {
    font-family: "opensans", helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin headline-font {
    font-family: "monoton",  helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
}